*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-weight: 800;
    background-color: #171717;
}

section {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    color: #F5F5F7;
    font-family: "Sofia", sans-serif;
}