*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-weight: 800;
    background-color: #171717;
}

section {
    min-height: 100%;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #F5F5F7;
    font-family: "Sofia", sans-serif;
}

.question {
    color: #BD0D00;
}