*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-weight: 800;
    background-color: #171717;
}

.trueButton {
    margin-right: 20px;
    font: "SF Pro", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#1d1d1f;
    
    border: 2px solid white;
    background-color: white;
    border-radius: 9px;

    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.falseButton {
    margin-left: 20px;
    font: "SF Pro", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#1d1d1f;

    border-radius: 9px;
    border: 2px solid white;
    background-color: white;

    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

section {
    min-height: 100%;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #F5F5F7;
    font-family: "Sofia", sans-serif;
}

.question {
    color: #BD0D00;
}

#correctAnswer.visable {
    text-align: center;
    display: block;
}

#incorrectAnswer.visable {
    text-align: center;
    display: block;
}